{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <h2> Delete product </h2>
        <div class="card">
              <div class="card-header">
                {{ product.title }}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ product.balance }}</h5>
                <p class="card-text">{{ product.price }}</p>
                <form action="{% url 'confirm_delete' product.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Delete">
                    <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
                </form>
              </div>
        </div>
    </div>
{% endblock %}

{% csrf_token %}