{% extends 'base.html' %}

{% block content %}
    <br>
    <div>
        {% if products %}
            <h2>Shop online</h2>
            <form class="d-flex justify-content-end" action="{% url 'index' %}" method="GET">
                <div class="d-flex align-items-end">
                    <input class="form-control" type="search" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
            <br>
            <div class="row">
            {% for prod in products %}
                <div class="col-sm-6">
                   <div class="card border-secondary mb-3">
                       <div class="row g-0">
                            <div class="col-md-4">
                              <img src="{{prod.photo}}" class="img-fluid rounded-start" alt="prod">
                            </div>
                            <div class="col-md-8">
                              <div class="card-body text-secondary">
                                  <a href="{% url 'product' prod.pk %}"><h5 class="card-title">{{ prod.title }}</h5></a>
                                <p class="card-text">{{ prod.price }}</p>
                                <p class="card-text"><small class="text-muted">{{ prod.category }}</small></p>
                                <a href="#" class="btn btn-secondary">Edit product</a>
                                <a href="#" class="btn btn-secondary">Delete product</a>
                              </div>
                            </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <h2>Add products in shop online</h2>
        {% endif %}
    </div>
{% endblock %}