{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="card mb-3">
      <img src="{{product.photo}}" class="card-img-top" alt="product">
      <div class="card-body">
        <h5 class="card-title"> Title: {{product.title}}</h5>
        <p class="card-text"><strong>Description:</strong> {{product.description}}</p>
        <p class="card-text"><strong>Category:</strong> {{product.category}}</p>
        <p class="card-text"><strong>Balance:</strong> {{product.balance}}</p>
        <p class="card-text"><strong>Price:</strong> {{product.price}} $</p>
        <p class="card-text"><strong>Date of created:</strong> {{product.created_at}}</p>
        <a href="#" class="btn btn-secondary">Edit product</a>
        <a href="#" class="btn btn-secondary">Delete product</a>
      </div>
    </div>
{% endblock %}
