<div class="row">
{% for prod in products %}
    <div class="col-sm-6">
       <div class="card border-secondary mb-3">
           <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{prod.photo}}" class="img-fluid rounded-start" alt="prod">
                </div>
                <div class="col-md-8">
                  <div class="card-body text-secondary">
                      <a class="a_title" href="{% url 'product' prod.pk %}"><h5 class="card-title">{{ prod.title }}</h5></a>
                    <p class="card-text">{{ prod.price }}</p>
                    <p class="card-text"><small class="text-muted">{{ prod.category }}</small></p>
                    <a href="{% url 'edit' prod.pk %}" class="btn btn-secondary">Edit product</a>
                    <a href="{% url 'delete' prod.pk %}" class="btn btn-secondary">Delete product</a>
                    <a href="{% url 'add_basket' prod.pk %}" class="btn btn-secondary">Add basket</a>
                  </div>
                </div>
          </div>
        </div>
    </div>
    {% empty %}
    <p>Products not found</p>
{% endfor %}
</div>